@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, Inter, Roboto, San Francisco, Segoe UI, "Ping fang",
    Microsoft JhengHei, "微軟正黑體", sans-serif;
  color: #272725;
  /* 預設字色 "gray-950": "#272725" */
}

* {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
}

h5,
h6 {
  font-weight: 600;
  line-height: 1.4;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-6 {
  z-index: 6;
}
.z-7 {
  z-index: 7;
}
.z-8 {
  z-index: 8;
}
.z-9 {
  z-index: 9;
}

/* 隱藏滾動軸 */
.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.landingBottomBg {
  background-image: linear-gradient(transparent 30%, #f2e1be 30%);
}

.container {
  @apply max-w-[1272px] mx-auto 
  px-12 md:px-6 sm:px-3;
}

.inputStyle {
  @apply w-full min-h-[44px] border-b-2 border-gray-950 bg-yellow-tint mt-2 py-2 px-3 placeholder:text-gray-400 md:placeholder:text-sm;
}

.inputStyle:focus {
  @apply border-gray-400;
}

.inputErrorMsgStyle {
  @apply text-danger mt-2 md:mt-1 text-sm md:text-xs;
}

.checkboxIcon {
  @apply appearance-none 
  after:content-[''] after:inline-block 
  after:w-5 after:h-5 
  after:align-middle 
  after:bg-contain after:bg-no-repeat 
  after:bg-checkbox-false
  checked:after:bg-checkbox-true;
}

.radioIcon {
  @apply appearance-none 
  after:content-[''] after:inline-block 
  after:w-5 after:h-5 
  after:align-middle 
  after:bg-contain after:bg-no-repeat 
  after:bg-radio-false checked:after:bg-radio-true;
}

.groupStatusDot {
  @apply align-middle
  before:content-[''] before:inline-block 
  before:w-2.5 before:h-2.5 before:mr-1 before:-mt-10
  before:align-baseline
  before:rounded-full;
}

.groupStatusPending,
.groupStatusOpening {
  @apply before:bg-green-light;
}

.groupStatusClosed {
  @apply before:bg-gray-900;
}

.groupStatusCancel {
  @apply before:bg-gray-200;
}

.groupStatusMember {
  @apply before:bg-orange-primary;
}

.groupStatusReserved {
  @apply before:bg-yellow-primary;
}

.aheadIcon {
  @apply before:content-[''] before:bg-no-repeat before:align-middle before:mb-[0.2rem]
  before:bg-center before:inline-block before:mr-1;
}

/*  */
a#scroll-btn {
  position: relative;
  display: block;
  height: 44px;
  width: 28px;
  border: 3px solid #272725;
  margin: auto;
  border-radius: 2em;
}

a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 8px;
  height: 8px;
  width: 8px;
  background-color: #272725;
  border-radius: 50%;
  animation: move-down 2s infinite;
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(16px);
    opacity: 0;
  }
}

.progressBar {
  background: linear-gradient(transparent 50%, #787878 50%);
}
